{% extends 'core/base.html' %}

{% block page_name%} Producto {% endblock %}
{% block page_description %}
    <p>Crear Producto</p>
{% endblock %}

{% block content %}
    <div class="m-5 pb-5">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Crear Producto</button>
            <br><br>
            <a href="{% url 'listar_producto' %}">Volver al listado de Productos</a>
        </form>
    </div>
{% endblock %}
