{% extends 'core/base.html' %}

{% block page_name%} Stock {% endblock %}
{% block page_description %}
    <p>Actualizando el stock</p>
{% endblock %}

{% block content %}
    <div class="m-5 pb-5">
        <form action="" method="get">
            {% csrf_token %}
            <div class="form-group">
                <label>Código:</label>
                <input class="form-control" name="codigo" type="number">
            </div>
            <div class="form-group">
                <label>Cantidad:</label>
                <input class="form-control" name="cantidad" type="number">
            </div>
            <br>
            <button class="btn btn-primary" type="submit" onclick="return confirmar()">Actualizar stock</button>
            <br><br>
            <a href="{% url 'listar_producto' %}">Volver al listado de productos</a>
        </form>
    </div>
{% endblock %}

{% block custom_js %}
    <script>
        function confirmar(){
            if(confirm('¿Está seguro que desea agregar el stock?'))
                return true;
            else
                return false;
        }
    </script>
{% endblock %}
