{% extends 'core/base.html' %}
{% load staticfiles %}


{% block page_name%} Devolución {% endblock %}
{% block page_description %}Total de devoluciones {% endblock %}
<div class="container">


{% block custom_css %}
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
{% endblock %}



{% block content %}
    <table id="myTable" class="table" style="width:100%">
    	<thead>
    		<tr>
    			<th>Producto</th>
    			<th>Fecha</th>
                <th>Cantidad</th>
                <!--<th>PMP</th>-->
                <th>Opciones</th>

    		</tr>
        </thead>
        <tbody>
    		{% if object_list %}
	    		{% for devoluciones in object_list %}
						<th>{{devoluciones.id_producto.nombre}}</th>
		    			<th>{{devoluciones.fecha}}</th>
                        <th>{{devoluciones.cantidad}}</th>
                        <th>
                            <a class="btn btn-info" href="{% url 'adquisiciones_ordenes_devoluciones' devoluciones.id %}">Info</a>
                            <a class="btn btn-primary" href="{% url 'adquisiciones_ordenes_devoluciones_edit' devoluciones.id %}">Actualizar</a>
                        </th>
		    		</tr>
	    		{% endfor %}
    		{% else %}
				<h1>No hay registros de ordenes de adquisicion</h1>
    		{% endif %}
    	</tbody>
    </table>

    <a href="{% url 'adquisiciones_ordenes_create_devolucion' %}">
        <button class="btn btn-success">Crear</button>
    </a>
{% endblock %}


{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="{% static 'core/js/DataTable.js' %}"></script>

{% endblock %}
