{% extends 'core/base.html' %}
{% load staticfiles %}



{% block page_name%} Factura {% endblock %}
{% block page_description %}Información{% endblock %}


{% block content %}
		<p>
			<label>Proveedor:</label> 
			<input type="text" class="form-control" readonly="readonly" value="{{proveedor.nombre}}">
		</p>
		<p>
			<label>N° Factura:</label> 
			<input type="text" class="form-control" readonly="readonly" value="{{orden_adquisicion.factura}}">
		</p>
		<p>
			<label>Fecha factura:</label> 
			<input type="text" class="form-control" readonly="readonly" value="{{orden_adquisicion.fecha_factura}}">
		</p>
		<p>
			<label>Precio Compra:</label> 
			<input type="text" class="form-control" readonly="readonly" value="{{orden_adquisicion.precio_compra}}">
		</p>
		<p>
			<label>Cantidad:</label> 
			<input type="text" class="form-control" readonly="readonly" value="{{orden_adquisicion.cantidad}}">
		</p>
		<p>
			<label>Codigo adquisicion:</label> 
			<input type="text" class="form-control" readonly="readonly" value="{{orden_adquisicion.codigo}}">
		</p>


    	
        <p>
        	<div class="container">
        		<div class="row">
	        		<div class="col-xs-4">
	        			<label for="">Productos:</label>
	        		</div>

	        		<div class="col-xs-4">
	        			<label for="">Precio Compra:</label>
	        		</div>
	        		<div class="col-xs-4">
	        			<label for="">Cantidad:</label>
	        		</div>
	        	</div>
	        	{% if productos %}
			        {% for producto in productos %}
			            <div class="form-group row">
			                <div class="col-xs-4">
			            <label class="">{{producto.id_prod}}</label>
			            </div>
				            <div class="col-xs-4">
				                <input readonly value="{{producto.precio_compra}}">
				            </div>
				            <div class="col-xs-4">
				                <input readonly value="{{producto.cantidad}}">
				            </div>
			            </div>
			        
			    	{% endfor %}
				{% else %}
				     No hay registros de ingresos
				{% endif %}
        	</div>
        </p>
        <a class="btn btn-success" href="{% url 'adquisiciones_ordenes_adquisiciones' %}">Volver</a>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'core/js/totalPrecioVentaAdquisiciones.js' %}"></script>

{% endblock %}
