 <div id="modal-agregar-producto" class="modal fade modal-slide-in-rigth" aria-hidden = "true" role = "dialog" tabindex = "-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="form-agregar-producto" method="post" action="{% url 'adquisiciones_producto_create_ajax' %}">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss = "modal" aria-label = "Cerrar">
							<span aria-hidden = "true">x</span>
						</button>
						<h4 class="modal-title">Agrega un producto</h4>
					</div>
					<div class="modal-body">

							<div id="mensaje-estado-modal">
								<h1 class="mensaje">Guardando...</h1>
							</div>
							{% csrf_token %}
					        <p>
					        	<label for="id_nombre">Nombre producto:</label> 
					        	<input type="text" name="nombre" required="" class="form-control" id="id_nombre" maxlength="20" placeholder="Mesa">
					        </p>
							<p>
								<label for="id_descripcion">Descripción:</label> 
								<input type="text" name="descripcion" required="" class="form-control" id="id_descripcion" placeholder="Mesa cuatro patas, de madera" maxlength="50">
							</p>
							<p>
								<label for="id_precio_compra">Precio compra:</label> 
								<input type="number" name="precio_compra" required="" class="form-control" id="id_precio_compra" value="0" min="1">
							</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss = "modal">Cerrar</button>
						<button type="submit" class="btn btn-primary">Agregar</button>
					</div>
			    </form>
			</div>
		</div>

</div>