{% extends 'core/base.html' %}
{% load staticfiles %}


{% block page_name%} Ordenes de adquisicion {% endblock %}
{% block page_description %}Total de adquisiciones {% endblock %}
<div class="container">


{% block custom_css %}
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">

   <style type="text/css">
        .estado-pendiente > th{
            background: rgba(232, 22, 22, .10);
            color: #ff0000d1;
            padding: 8px 20px;
        }

        .estado-pagado > th{
            background: rgba(22 ,255, 22,.10);
            color: #1FA810;
            padding: 8px 20px;
        }
    </style>
{% endblock %}



{% block content %}
    <table id="myTable" class="table" style="width:100%">
    	<thead>
    		<tr>
    			<th>#</th>
    			<th>Proveedor</th>
                <th>N° Factura</th>
                <th>Fecha factura</th>
                <th>Precio compra (CLP)</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th>Opciones</th>

    		</tr>
        </thead>
        <tbody>
    		{% if ordAdq %}
	    		{% for ord_adq in ordAdq %}
					<tr class="estado-{{ord_adq.estado}}">
						<th>{{ord_adq.id}}</th>
		    			<th>{{ord_adq.id_prov.nombre}}</th>
                        <th>{{ord_adq.factura}}</th>
                        <th>{{ord_adq.fecha_factura}}</th>
		    			<th class="precio_compra">{{ord_adq.precio_compra}}</th>
                        <th class="cantidad">{{ord_adq.cantidad}}</th>
		    			<th>
                            {% if ord_adq.estado ==  'pagado' %}
                                PAGADO
                            {% else %}
                                PENDIENTE
                            {% endif %}

                        </th>
                        <th>
                            
                            <a class="btn btn-info" href="{% url 'adquisiciones_ordenes_info' ord_adq.id %}">Info</a>


                            {% if ord_adq.estado ==  'pendiente' %}
                                <a class="btn btn-primary" href="{% url 'adquisiciones_ordenes_update' ord_adq.id %}">Actualizar</a>
                                <a class="btn btn-success" href="{% url 'adquisiciones_ordenes_state' ord_adq.id %}">Pagar</a>

                            {% endif %}
                        </th>
		    		</tr>
	    		{% endfor %}
    		{% else %}
				<h1>No hay registros de ordenes de adquisicion</h1>
    		{% endif %}
    	</tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>TOTAL</th>
                <th id="total_compras"></th>
                <th id="total_cantidad"></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot> 
    </table>

    <a href="{% url 'adquisiciones_ordenes_create' %}">
        <button class="btn btn-success">Crear</button>
    </a>
{% endblock %}


{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="{% static 'core/js/DataTable.js' %}"></script>

    <script>
        $(document).ready(function(){
            var suma_precio_compra = 0;
            var suma_cantidad = 0;
            $('.precio_compra').each(function(index, item){
                suma_precio_compra += parseInt($(item).html());
                //console.log($(item).html());
            });

            $('.cantidad').each(function(index, item){
                suma_cantidad += parseInt($(item).html());
                //console.log($(item).html());
            });

            $('#total_compras').html(suma_precio_compra);
            $('#total_cantidad').html(suma_cantidad);
            //console.log(suma_precio_compra);
            
        });
    </script>

{% endblock %}
