{% extends 'core/base.html' %}
{% load staticfiles %}

{% block page_name%} Ordenes de adquisicion {% endblock %}
{% block page_description %}Ingrese orden de adquisicion {% endblock %}

{% block custom_css %}
   <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
	<style>
		#simbiloAgregar{
			margin-top: 4px;
			display: block;
			width: 24px;
			height: 24px;
		}

		#simbiloAgregar::after{
			margin-left: 8px;
			content: "";
			display: block;
			background: green;
			width: 8px;
			height: 24px;
			border-radius: 3px;
		}

		#simbiloAgregar::before{
			margin-left: 8px;
			content: "";
			display: block;
			background: green;
			width: 8px;
			height: 24px;
			border-radius: 3px;
			transform: rotate(90deg);
			position: absolute;
		}

		.flex-row{
			display: flex;
		}

		.select2{
			margin-right: 10px;
		}

		#mensaje-estado-modal{
			margin-left: -15px;
			margin-top: -15px;
		    background: #FFFFFF;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    display: none;
		    opacity: 0;
		}

		#mensaje-estado-modal > .mensaje{
			width: 100%;
			height: 100%;
			position: relative;
			display: flex;
		    align-items: center;
		    justify-content: center;
		    color: #999;
		    font-style: italic;
		}

	</style>
{% endblock %}

{% block content %}
    <form method="post">
    	<input type="hidden" name="precio_compra" value="0">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
        	<div class="container">
        		<div class="row">
        			<div class="col-sm-2">
        				<label class="">Busque e inserte productos</label>
        			</div>

        			<div class="col-sm-10 flex-row">
        				<select class="select2" id="js-data-example-ajax" name="lista_productos_seleccionados[]" style="min-width: 300px"></select>
						<a id="boton-modal-agregar-producto" href="#">
							<div id="simbiloAgregar"></div>
						</a>
        			</div>

					
        		</div>

        		<div class="row">
	        		<div class="col-xs-4">
	        			<label for="">Productos:</label>
	        		</div>
	        		
	        		<div class="col-xs-4">
	        			<label for="">Precio Compra:</label>
	        		</div>
	        		<div class="col-xs-4">
	        			<label for="">Cantidad:</label>
	        		</div>
	        	</div>
	        	 
	        	<div id="contenedor_productos" class="col-md-12"></div>
        	</div>
        </p>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
    {% include "adquisiciones/modal_agregar_producto.html" %}
{% endblock %}



{% block custom_js %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{% static 'core/js/totalPrecioVentaAdquisiciones.js' %}"></script>

    <script type="text/javascript">

		function CargarProducto(id, cantidad){
			return new Promise((resolve, reject) => {
				$.get( window.location.origin + "/adquisiciones/producto-view-ajax/" + id, function( data ){

					 data = data.replace('value="0"','value="' + cantidad + '"');
					
				  	return resolve($('#contenedor_productos').append(data));
		    	});
				
			});
			
		}

    	$(document).ready(function() {
    		$('#boton-modal-agregar-producto').on('click', function(){
    			$('#modal-agregar-producto').modal();
    		});


    		$.get( window.location.origin + "/adquisiciones/producto-list-ajax", function( data ){
				 $('#js-data-example-ajax').select2({
			    	placeholder: 'Selecciona un producto a agregar',
			    	multiple: true,
			    	data: data,
			    	/*
			    	ajax: {
					    url: window.location.origin + "/adquisiciones/producto-list-ajax",
					    dataType: 'json'
					    //cache: false
					},*/
					closeOnSelect: true
			    });

				{% if ingresos %}
					var ids_ingreso = [];
					{% for ingreso in ingresos %}
						CargarProducto({{ingreso.id_prod.id_prod}},{{ingreso.cantidad}})
						.then(data => sumador.init())
						.catch(error => console.error(error));
						ids_ingreso.push({{ingreso.id_prod.id_prod}});
					{% endfor %}

					$('#js-data-example-ajax').val(ids_ingreso).trigger("change");
			    {% endif %}
			});

		    $('#js-data-example-ajax').on('select2:select', function(e, data){
    			$.get( window.location.origin + "/adquisiciones/producto-view-ajax/" + e.params.data.id, function( data ){
				  	$('#contenedor_productos').append(data);
		    		sumador.init();
				});
				
		    });

		    $('#js-data-example-ajax').on('select2:unselect', function(e){
    			$('#row-productos-'+ e.params.data.id).remove()
    			sumador.init();
		    });
		    	
			    
	    	$('#form-agregar-producto').on('submit', function(e){
	    		e.preventDefault();

	    		form = e.target;
	    		data = $(form).serialize();

	    		$.ajax({
	    			url: form.action,
	    			type: form.method,
	    			dataType: 'json',
	    			data: data,
	    			beforeSend: function(){
	    				$('#mensaje-estado-modal > .mensaje').text('Guardando...')
	    				$('#mensaje-estado-modal').show();
	    				$('#mensaje-estado-modal').fadeTo(2,1);
	    				$('.modal-footer').fadeTo(2,0, function(e){
	    					$('.modal-foote').hide();
	    				});
	    			}
	    		})
	    		.done(function(data) {
	    			if(data.mensaje == 'success'){
	    				var nuevoProducto = new Option(data.texto_producto, data.id_producto, true, true);
					    $('#js-data-example-ajax').append(nuevoProducto).trigger('change');
	    				
	    				$.get( window.location.origin + "/adquisiciones/producto-view-ajax/" + data.id_producto, function( data ){
						  	$('#contenedor_productos').append(data);
				    		sumador.init();
						});

	    				
	    				$('#mensaje-estado-modal > .mensaje').text('Guardado!!');

	    				$('#id_nombre').val('');
	    				$('#id_descripcion').val('');
	    				$('#id_precio_compra').val(0);
	    				
	    				setTimeout(function(){ 
	    					$('#modal-agregar-producto').modal('hide');
		    				$('#mensaje-estado-modal').fadeTo(1,1,function(){
		    					$('#mensaje-estado-modal').hide();
		    				});
		    				$('.modal-footer').fadeTo(2,1, function(e){
		    					$('.modal-foote').show();
		    				});
	    				}, 2000);
	    			}else if(data.mensaje == 'errorUnique'){
	    				$('#mensaje-estado-modal > .mensaje').text('Este producto ya existe');

	    				setTimeout(function(){ 
		    				$('#mensaje-estado-modal').fadeTo(0,0);
	    					$('#mensaje-estado-modal').hide();
		    				$('.modal-footer').fadeTo(2,1, function(e){
		    					$('.modal-foote').show();
		    				});
	    				}, 3000);
	    			}else if(data.mensaje == 'errorInvalido'){
	    				$('#mensaje-estado-modal > .mensaje').text('Errores de validacion');
	    				
	    				errores = [];
	    				for (var error in data.errores){
						    errores.push(data.errores[error]);
						}
	    				
	    				setTimeout(function(){ 
	    				alert(errores);
		    				$('#mensaje-estado-modal').fadeTo(0,0);
	    					$('#mensaje-estado-modal').hide();
		    				$('.modal-footer').fadeTo(2,1, function(e){
		    					$('.modal-foote').show();
		    				});
	    				}, 3000);
	    				
	    				
	    			}
	    		})
	    		.fail(function(data) {
	    			//console.log(data.mensaje, 'fail');
	    		})

	    		
	    		
	    	
			    

		});

    </script>

{% endblock %}

