{% extends 'core/base.html' %}
{% load staticfiles %}


{% block page_name %} Categorias de productos {% endblock %}
{% block page_description %}Bienvenido{% endblock %}
<div class="container">

{% block custom_css %}
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
{% endblock %}


{% block content %}
<div class="m-5 pb-5">
        <table id="myTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre Categoria</th>
                    <th>Descripcion</th>
                    <th>Opciones</th>
                </tr>

            </thead>
            <tbody>
                {% if object_list %}
                    {% for categoria in object_list %}
                        <tr>
                            <th>{{categoria.id}}</th>
                            <th>{{categoria.nombre}}</th>
                            <th>{{categoria.descripcion}}</th>
                            <th>
                                <a class="btn btn-primary" href="{% url 'adquisiciones_categoria_update' categoria.id %}">Actualizar</a>
                                <a class="btn btn-danger" href="{% url 'adquisiciones_categoria_delete' categoria.id %}">Borrar</a>
                            </th>
                        </tr>
                    {% endfor %}
                {% else %}
                        <h1>No hay registros de categorias</h1>
                {% endif %}
            </tbody>
        </table>

        <a href="{% url 'adquisiciones_categoria_create' %}">
            <button class="btn btn-success">Crear</button>
        </a>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="{% static 'mod_adquisiciones/js/DataTable.js' %}"></script>

{% endblock %}