{% extends 'core/base.html' %}


{% block page_name%} Ingresos {% endblock %}
{% block page_description %}Bienvenido{% endblock %}


{% block content %}
    <div class="m-5 pb-5">
        <form method="post">
            {% csrf_token %}
            <h3>¿Desea eliminar el registro de {{object.id}}</h3>
            <button type="submit" class="btn btn-danger">Borrar</button>
            <a class="btn btn-default" href="{% url 'adquisiciones_ingresos' %}">Cancelar</a>
        </form>
    </div>
{% endblock %}
