{% extends 'core/base.html' %}
{% load staticfiles %}



{% block page_name%} Ordenes de prestamo {% endblock %}
{% block page_description %}Información{% endblock %}


{% block content %}
	<div class="m-5 pb-5">
			<p>
				<label>Usuario:</label> 
				<input type="text" class="form-control" readonly="readonly" value="{{usuario.nombre}}">
			</p>
			<p>
				<label>Cantidad:</label> 
				<input type="text" class="form-control" readonly="readonly" value="{{prestamo.cantidad}}">
			</p>
			<p>
				<label>Estado:</label> 
				<input type="text" class="form-control" readonly="readonly" value="{{prestamo.estado}}">
			</p>
			<p>
				<label>Codigo prestamo:</label> 
				<input type="text" class="form-control" readonly="readonly" value="{{prestamo.codigo}}">
			</p>


			
			<p>
				<div class="container">
					<div class="row">
						<div class="col-xs-4">
							<label for="">Productos:</label>
						</div>
						<div class="col-xs-4">
							<label for="">Cantidad:</label>
						</div>
					</div>
					{% if productos %}
						{% for producto in productos %}
							<div class="form-group row">
								<div class="col-xs-4">
							<label class="">{{producto.id_prod}}</label>
							</div>
								<div class="col-xs-4">
									<input readonly value="{{producto.cantidad}}">
								</div>
							</div>
						
						{% endfor %}
					{% else %}
						No hay registros de ingresos
					{% endif %}
				</div>
			</p>
			<a class="btn btn-success" href="{% url 'adquisiciones_ordenes_adquisiciones' %}">Volver</a>
		</div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'core/js/totalPrecioVentaAdquisiciones.js' %}"></script>
{% endblock %}
