{% extends 'core/base.html' %}


{% block page_name%} Ordenes de prestamo {% endblock %}
{% block page_description %}Cambiar estado de Orden de prestamo {% endblock %}


{% block content %}
    <div class="m-5 pb-5">
        <form method="post">
            {% csrf_token %}
            <h3>¿Desea marcar como entregado este prestamo?{{object.id}}?</h3>
            <button type="submit" class="btn btn-success">Entregado</button>
            <a class="btn btn-default" href="{% url 'adquisiciones_ordenes_adquisiciones' %}">Cancelar</a>
        </form>
    </div>
{% endblock %}